@import "./reset.css";
@import "./main.css";
@import "./catalog.css";
@import "./basket.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
:root {
  --white-color: #fff;
  --accent-color: #e21f1f;
  --dark-grey: #232323;
  --light-grey: #2a2a2a;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--white-color);

  background-color: var(--dark-grey);
}
section {
  padding: 100px 0;
}
.container {
  max-width: 1284px;
  margin: 0 auto;
  padding: 0 10px;
}
.none {
  display: none;
}
.title {
  max-width: 933px;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: 60px;

  transform: translate(-120%, 0px);
  opacity: 0;
  transition: all 0.5s;
}
.section-title {
  margin-bottom: 70px;
  text-align: center;
  font-weight: 700;
  font-size: 32px;

  transform: translate(-50%, 0px);
  opacity: 0;
  transition: all 0.3s;
}
.title--animation {
  transform: translate(0px, 0px);
  opacity: 1;
}
.top-btn {
  position: fixed;
  bottom: 50px;
  right: 35px;
  z-index: 10;
}
.top-btn::before {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--accent-color);
  opacity: 0.7;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.top-btn--hidden {
  display: none;
}

/*HEADER*/

header {
  position: relative;
}
.nav {
  overflow: hidden;
  padding: 15px 0;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;

  z-index: 10;
}
.nav::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 58px;
  left: 0;
  z-index: 99;
}
.nav-logo {
  font-weight: 700;
  font-size: 22px;
}
.nav-list {
  display: flex;
  column-gap: 40px;
  align-items: center;
}
.nav-item {
  font-weight: 500;
  font-size: 20px;
  position: relative;
}
.nav-item img {
  width: 35px;
  height: 35px;
}
.nav-item::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: all 0.4s;
  z-index: 9;
}
.nav-item:last-child::after {
  bottom: 0;
}
.nav-item:hover::after {
  width: 100%;
}
.nav-item--active {
  color: var(--accent-color);
}

.nav-list-opener {
  position: relative;
  display: none;
  transition: all 0.5s;
  z-index: 10;
}
.nav-list_opener-line {
  width: 30px;
  height: 3px;
  background-color: var(--accent-color);
  transition: all 0.5s;
}
.nav-list_opener-line:not(:last-child) {
  margin-bottom: 4px;
}
.nav-opener_line--first-animation {
  margin: 0 !important;
  position: absolute;
  top: 50%;
  right: 0;
  transform: rotate(45deg) translateY(-50%);
}
.nav-opener_line--second-animation {
  margin: 0;
  position: absolute;
  top: 50%;
  right: 0;
  transform: rotate(-45deg) translateY(-50%);
}
.mobile-nav {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 52px;
  overflow-x: hidden;
}
.mobile-nav_list {
  padding: 15px 10px;
  position: static;
  height: 58px;
  background-color: var(--dark-grey);
  opacity: 0.5;
  transform: translate(200%, 0px);
  transition: all 0.5s;
}
.mobile-nav_list--open {
  opacity: 1;
  transform: translate(0%, 0px);
}

/*FOOTER*/
.footer {
  position: relative;
}
.footer-content {
  padding: 20px 0;
}
.footer-content::after,
.footer-content::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  left: 0;
}
.footer-content::after {
  top: 152px;
}
.footer-content::before {
  top: 0;
}
.footer .nav::after {
  display: none;
}
.footer-contacts {
  padding: 15px 0;
}
.footer-contacts_list {
  display: flex;
  column-gap: 10px;
  justify-content: space-between;
}
.footer-contacts_list-item img {
  width: 30px;
  height: 30px;
}
.footer-contacts_list-item,
.footer-contacts_list-item a {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
}
.footer-contacts_list-item a:hover {
  position: relative;
  top: -4px;
}
.footer-links {
  padding: 30px 0;
  display: flex;
  column-gap: 10px;
  justify-content: space-between;

  font-size: 14px;
}
.footer-links_column {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

/*MOBILE ADPTIVE*/
@media (max-width: 992px) {
  section {
    padding: 80px 0;
  }
  .title {
    font-size: 54px;
  }
  .section-title {
    margin-bottom: 40px;
    font-size: 30px;
  }
  .nav-logo {
    font-size: 20px;
  }
  .footer-contacts_list-item a:hover {
    position: relative;
    top: 0px;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 48px;
  }
  .section-title {
    font-size: 25px;
  }

  .footer-links {
    font-size: 12px;
  }
}
@media (max-width: 576px) {
  .nav-logo {
    font-size: 18px;
  }
  section {
    padding: 40px 0;
  }
  .title {
    font-size: 36px;
  }
  .section-title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .top-btn img {
    height: 20px;
  }
  .top-btn::before {
    width: 40px;
    height: 40px;
  }
  .nav-list {
    column-gap: 20px;
  }
  .nav-item {
    font-size: 18px;
  }
  .nav-item img {
    width: 30px;
    height: 30px;
  }
  .nav::after {
    top: 52px;
  }
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
  .nav-list-opener {
    display: block;
  }
  .footer-contacts_list-item,
  .footer-contacts_list-item a {
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
  }
  .footer-contacts_list-item img {
    width: 15px;
    height: 15px;
  }
  .footer-links {
    padding: 15px 0;
    font-size: 8px;
  }
}
